/* Reset básico para quitar márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilo del header */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilo del nav */
nav {
    background: #444;
}

nav ul {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos con espacios iguales */
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: 1; /* Asegura que los elementos se distribuyan uniformemente */
    text-align: center;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #555;
}

/* Estilo del main */
main {
    padding: 20px;
}

/* Estilo del footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
