.header{
    background-color: beige;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vp;
}
.columna{
    /*border: 1px solid #ccc;*/
    padding: 0px;
    margin: 0px;
    flex: 1;
    max-width: 33%;
    box-sizing: border-box;
    text-align: center;
}
nav{
    color: black;
    padding: 0;
    text-align: left;
}
section{
    padding: 20px 30px;
}
#imagenportadalogo{
    background-color: blue;
    color: black;
}
#eslogan{
    background-color: orange;
    color: black;
}
#carousel{
    background-color: green;
    color: black;
}
#studio{
    background-color: purple;
    color: black;
}
footer{
    background-color: skyblue;
    color:black;
    padding: 20px 0;
    text-align: center;
}
